{% layout 'layout.liquid' %}
{% block content %}
    <div class="col-mb-4">
        <h1 class="display-4">Welcome To The F1 Paddock App DRIVR</h1>
        <p>This app is all about the F1 paddock and the drivers that live here</p>
        <img src="https://pngimage.net/wp-content/uploads/2018/06/logo-f1-png-3.png" alt="Formula One Logo" height="200px">

    </div>
    <div class="btn-group btn-group-lg mt-4">
        <a href="/users/signup" class="btn btn-success">Sign Up</a>
        <a href="/users/login" class="btn btn-success">Login</a>
    </div>
{% endblock %}
