body {
    background-color: rgb(137, 37, 37);
}

.card {
    margin: 5px;
    /* width: 18rem;  */
}

.colorBox {
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.card:hover{
    background-color: rgba(91, 91, 91, 0.629);
}